<!-- Estendemos do template base -->
{% extends "base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark">
                    <div class="card-header">Usuários</div>
                    <div class="card-body">
                        <p class="card-text">
                            Mantenha os <code>Usuários</code> da empresa.
                        </p>


                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'web:cadastra_usuarios' %}"
                           class="btn btn-primary btn-sm">
                            Cadastrar
                        </a>
                        <a href="{% url 'web:lista_usuarios' %}"
                           class="btn btn-primary btn-sm">
                            Lista
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark">
                    <div class="card-header">Tarefas</div>
                    <div class="card-body">
                        <p class="card-text">
                            Mantenha as <code>Tarefas</code> da empresa.
                        </p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'web:cadastra_tarefas' %}"
                           class="btn btn-primary btn-sm">
                            Cadastrar
                        </a>
                        <a href="{% url 'web:lista_tarefas' %}"
                           class="btn btn-primary btn-sm">
                            Lista
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark">
                    <div class="card-header">gerenciamento de tarefas</div>
                    <div class="card-body">
                        <p class="card-text">
                            Mantenha as <code>tarefas</code> da empresa.
                        </p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'web:index_gerenciar_tarefas' %}" class="btn btn-primary btn-sm">
                            Registrar
                        </a>
                        <a href="{% url 'web:lista_tarefa' %}" class="btn btn-primary btn-sm">
                            Lista
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% if vendas|length > 0 %}
            <div class="card border-secondary">
                <div class="card-header">tarefas</div>
                <div class="card-body text-secondary">
                    <p class="card-text">Aqui está a lista de <code>tarefas</code> registradas.</p>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">Usuários</th>
                            <th class="text-center">Quantidade de tarefas</th>
                            <th class="text-center">Total de tarefas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for venda in vendas_funcionario %}
                            <tr>
                                <td class="text-center">{{ tarefas.usuarios__nome }}</td>
                                <td class="text-center">{{ tarefas.numero_tarefas }}</td>
                                <td class="text-center">R$ {{ tarefas.total_tarefas|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
